<?php
class [[MODULENAME]]Actions extends SF_Controller {
	// Executed for all actions in the class
	public function preExecute() {

	}

	public function executeIndex() {
	    $this->title = "[[MODULENAME]] Page";
	}
}
?>
